.body {
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

html {
    background-color: #e3ebff;
    background-image: url(images/2-square-tile.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}